In [1]:
## importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [2]:
## loading Dataset
data=pd.read_csv("Churn_Modelling.csv")

In [ ]:
## Checking Top 5 Records
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
## Checking Statistical Information
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [5]:
## Removing unnecessary features
data.drop(["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
## Categorical to numeric - conversion
labelencoder_gender=LabelEncoder()
data["Gender"]=labelencoder_gender.fit_transform(data["Gender"])

In [8]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
## Checking unique values present in gender column 
data["Gender"].unique()

array([0, 1])

In [10]:
# Create encoder
ohe_geo = OneHotEncoder(sparse_output=False)

# Fit and transform
geo_encoded = ohe_geo.fit_transform(data[["Geography"]])

# Convert to DataFrame with proper column names
geo_df = pd.DataFrame(geo_encoded, columns=ohe_geo.get_feature_names_out(["Geography"]))

# (Optional) Concatenate with main dataset
data = pd.concat([data, geo_df], axis=1)

In [11]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [ ]:
## droping Geography column from df as there is no need of it now
data.drop(["Geography"],axis=1,inplace=True)

In [ ]:
## import pickle for save the model
import pickle
## pickle file
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(labelencoder_gender,file)

In [14]:
with open("ohe_encoder_geography.pkl","wb") as file:
    pickle.dump(ohe_geo,file)

In [15]:
## seperate dependent and independent features
X = data.drop(["Exited"],axis=1)
Y = data.Exited

In [16]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=42,test_size=0.20)

In [ ]:
## converting Y_train/Y_test to array as tf not process over series 
Y_train = np.array(Y_train, dtype='float32')
Y_test = np.array(Y_test, dtype='float32')

In [18]:
std_sclr=StandardScaler()
X_train=std_sclr.fit_transform(X_train)
X_test=std_sclr.transform(X_test)

In [19]:
print(type(Y_train))
print(Y_train[:10])
print(Y_train.dtype)

<class 'numpy.ndarray'>
[0. 0. 1. 1. 1. 1. 0. 0. 0. 0.]
float32

In [ ]:
## importing ANN libraries
import tensorflow
from tensorflow.keras.models import Sequential ## ann sequential model
from tensorflow.keras.layers import Dense ## dense used for creating hidden neurons or hidden layer
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard # tensorboard for visualiztaion and early stopping to stop at early epochs if accuracy is const
import datetime

## creating Sequential model
model=Sequential([
    Dense(64,input_shape = (X_train.shape[1],),activation=('relu')), # for first neuron input_shape should be must in tuple
    Dense(32,activation=('relu')),
    Dense(20,activation=('relu')),
    Dense(1,activation=('sigmoid'))
])

## log_dir -> creates a date with time for every epochs
log_dir = "log_dir/" + datetime.datetime.now().strftime("%d-%m-%Y_%H-%M-%S")

In [ ]:
## manually choose optimizer and loss for compiling model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy
opt = Adam(learning_rate=0.01)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [ ]:
## Compiling model
model.compile(optimizer=opt,loss=BinaryCrossentropy(),metrics=["accuracy"])

In [ ]:
## Creating tensorboard callback
ensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [ ]:
## Create Earlystopping Callback
early_stopping_callback = EarlyStopping(
    monitor='val_loss',
    patience=5,
    restore_best_weights=True
)

In [ ]:
## model fitting
history = model.fit(
    X_train, Y_train,
    validation_data=(X_test, Y_test),
    callbacks=[tensorboard_callback, early_stopping_callback],
    epochs=100
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4038 - accuracy: 0.8278 - val_loss: 0.3652 - val_accuracy: 0.8470
Epoch 2/100
250/250 [==============================] - 0s 965us/step - loss: 0.3609 - accuracy: 0.8516 - val_loss: 0.3458 - val_accuracy: 0.8620
Epoch 3/100
250/250 [==============================] - 0s 948us/step - loss: 0.3478 - accuracy: 0.8574 - val_loss: 0.3505 - val_accuracy: 0.8545
Epoch 4/100
250/250 [==============================] - 0s 954us/step - loss: 0.3455 - accuracy: 0.8594 - val_loss: 0.3455 - val_accuracy: 0.8635
Epoch 5/100
250/250 [==============================] - 0s 955us/step - loss: 0.3415 - accuracy: 0.8572 - val_loss: 0.3408 - val_accuracy: 0.8595
Epoch 6/100
250/250 [==============================] - 0s 955us/step - loss: 0.3361 - accuracy: 0.8634 - val_loss: 0.3418 - val_accuracy: 0.8540
Epoch 7/100
250/250 [==============================] - 0s 950us/step - loss: 0.3376 - accuracy: 0.8631 - val_loss: 0.3400 - val_accuracy: 0.8560
Epoch 8/100
250/250 [==============================] - 0s 950us/step - loss: 0.3354 - accuracy: 0.8618 - val_loss: 0.3404 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 0s 954us/step - loss: 0.3326 - accuracy: 0.8620 - val_loss: 0.3399 - val_accuracy: 0.8605
Epoch 10/100
250/250 [==============================] - 0s 951us/step - loss: 0.3324 - accuracy: 0.8630 - val_loss: 0.3540 - val_accuracy: 0.8555
Epoch 11/100
250/250 [==============================] - 0s 952us/step - loss: 0.3323 - accuracy: 0.8643 - val_loss: 0.3479 - val_accuracy: 0.8575
Epoch 12/100
250/250 [==============================] - 0s 957us/step - loss: 0.3276 - accuracy: 0.8652 - val_loss: 0.3453 - val_accuracy: 0.8530
Epoch 13/100
250/250 [==============================] - 0s 950us/step - loss: 0.3260 - accuracy: 0.8637 - val_loss: 0.3526 - val_accuracy: 0.8545
Epoch 14/100
250/250 [==============================] - 0s 967us/step - loss: 0.3249 - accuracy: 0.8661 - val_loss: 0.3575 - val_accuracy: 0.8575

In [ ]:
## saving model in h5  as tf support h5 file formate
model.save('model.h5')

In [ ]:
## loading tensorboard extension
%load_ext tensorboard

In [ ]:
## Initialize tensorboard for visualization
tensorboard --logdir=log_dir

Reusing TensorBoard on port 6006 (pid 38027), started 0:01:00 ago. (Use '!kill 38027' to kill it.)