In [1]:
import tensorflow as tf 
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [2]:
model=load_model("model.h5")
with open("label_encoder_gender.pkl","rb") as file:
    label_encoder_gender=pickle.load(file)
with open("ohe_encoder_geography.pkl","rb") as file:
    ohe_encoder_geography=pickle.load(file)
with open("scaler.pkl","rb") as file:
    scaler=pickle.load(file)

In [3]:
input_data = {
    "CreditScore": 715,
    "Geography": "France",
    "Gender": "Male",
    "Age": 37,
    "Tenure": 5,
    "Balance": 84532.45,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 0,
    "EstimatedSalary": 112450.30
}
input_df=pd.DataFrame([input_data])

In [4]:
encoded_geo=ohe_encoder_geography.transform(input_df[["Geography"]])

In [5]:
geo_df=pd.DataFrame(encoded_geo,columns=ohe_encoder_geography.get_feature_names_out(["Geography"]))

In [6]:
geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [7]:
input_df=pd.concat([input_df,geo_df],axis=1)

In [8]:
input_df=input_df.drop(["Geography"],axis=1)

In [9]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,715,Male,37,5,84532.45,2,1,0,112450.3,1.0,0.0,0.0

In [10]:
input_df["Gender"]=label_encoder_gender.transform(input_df["Gender"])

In [11]:
input_df=scaler.transform(input_df)

In [12]:
prediction=model.predict(input_df)

1/1 [==============================] - 0s 142ms/step

In [13]:
prediiction_prob=prediction[0][0]

In [14]:
if prediction < 0.5 :
     print("Not Exited")
else:
    print("Exited")

Not Exited